<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="/assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#191919" />
    <meta name="title" content="{{ title }}" />
    {% if description %}
    <meta name="description" content="{{ description }}" />
    {% endif %}
    {% if not description and post_excerpt %}
    <meta name="description" content="{{ post_excerpt | strip_newlines | strip_html | append: "..." }}" />
    {% endif %}
    {% if not post_excerpt and not description %}
    <meta name="description" content="{{ title | prepend: " > " | prepend: site.title }}" />
    {% endif %}

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:title" content="{{ title }}" />
    {% if description %}
    <meta property="og:description" content="{{ description }}" />
    {% endif %}
    {% if not description and post_excerpt %}
    <meta property="og:description" content="{{ post_excerpt | strip_newlines | strip_html | append: "..." }}" />
    {% endif %}
    {% if not post_excerpt and not description %}
    <meta property="og:description" content="{{ title | prepend: " > " | prepend: site.title }}" />
    {% endif %}
    {% if ogImage %}
    <meta property="og:image" content="{{ ogImage }}" />
    {% endif %}
    {% if not ogImage %}
    <meta property="og:image" content="{{ site.url | append: "/assets/ava.png" }}" />
    {% endif %}

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ site.url }}" />
    <meta property="twitter:title" content="{{ title }}" />
    {% if description %}
    <meta property="twitter:description" content="{{ description }}" />
    {% endif %}
    {% if not description and post_excerpt %}
    <meta property="twitter:description" content="{{ post_excerpt | strip_newlines | strip_html | append: "..." }}" />
    {% endif %}
    {% if not post_excerpt and not description %}
    <meta property="twitter:description" content="{{ title | prepend: " > " | prepend: site.title }}" />
    {% endif %}
    {% if ogImage %}
    <meta property="twitter:image" content="{{ ogImage }}" />
    {% endif %}
    {% if not ogImage %}
    <meta property="twitter:image" content="{{ site.url | append: "/assets/ava.png" }}" />
    {% endif %}

    <link href="/assets/styles/tailwind.css" rel="stylesheet" />
    <link href="/assets/styles/index.css" rel="stylesheet" />
    <script src="/assets/scripts/font-awesome.min.js"></script>
    <script src="/assets/scripts/iconify.min.js"></script>
    <title>{{ title }}</title>
  </head>

  <body class="text-white bg-black">
    {{ content }}    
  </body>
</html>