---
layout: default
title: Home | KHOI
---

<div class="py-3">
    <img src="/assets/ava.png" class="rounded-lg w-[100px] h-[100px]" alt='Khoi Nguyen avatar' />
    <p class='py-3 text-gray'>{{site.description}}</p>
    {%for social in site.socials%}
    <a aria-label={{social.link}} target="_blank" href={{social.link}}>
        <i class='{{social.icon | append: ' text-2xl pr-5 rounded-full hover:text-gray'}}'></i>
    </a>
    {%endfor%}    
    <a aria-label='{{site.contacts.email |prepend: "My email: "}}' class='py-5 pr-5 rounded-full' href='mailto:{{site.contacts.email}}'><i class="fa-solid fa-envelope text-2xl hover:text-gray"></i></a>

    <h1 class='text-2xl pt-8 font-bold'>Intro</h1> 
    <p class='pt-3 text-gray'>
        👋 Hi, I'm Khoi. I just graduated and got my Dual Degree: a Bachelor of Science in
        Information Technology (concentration in Cybersecurity) and a Bachelor of Business Administration in Computer
        Information Systems at the University of North Alabama.
    </p>
    <p class='pt-5 text-gray'>
        🚀 I've worked at 3 startups with tech stacks such as Python, NextJS, React,
		PostgreSQL, and TypeScript. Currently learning <span class="urls underline underline-offset-4">{%newtab_link 'https://blog.imkhoi.com/tags/golang/' 'Go'%}</span>. Outside of work, I enjoy biking and traveling.
        Would love to connect!
    </p>
    
    <h1 class='text-2xl pt-10 font-bold'>Skills</h1> 
    <div class='pt-3 flex flex-wrap items-center'>
    {%for skill in site.skills %}
    <div class='flex flex-col items-center mr-5 my-5'>
        <span class="iconify text-3xl" data-icon={{skill.icon}}></span>
        <p class='pt-3 text-gray'>{{skill.name}}</p>
    </div>
    {%endfor%}
    </div>
</div>
