---
layout: default
title: Home | KHOI
---

<div class="py-3">
    <img src="/assets/ava.png" class="rounded-lg w-[100px] h-[100px]" alt='Khoi Nguyen avatar' />
    <p class='py-3 text-gray'>{{site.description}}</p>
    {%for social in site.socials%}
    <a aria-label={{social.link}} target="_blank" href={{social.link}}>
        <i class='{{social.icon | append: ' text-2xl pr-5 rounded-full hover:text-gray'}}'></i>
    </a>
    {%endfor%}    
    <a aria-label='{{site.contacts.email |prepend: "My email: "}}' class='py-5 pr-5 rounded-full' href='mailto:{{site.contacts.email}}'><i class="fa-solid fa-envelope text-2xl hover:text-gray"></i></a>

    <h2 class='text-2xl pt-8 font-bold'>Intro</h2> 
    <p class='pt-3 text-gray'>
	👋 As a software engineer, I am passionate about building innovative and secure web applications that solve real-world problems. I graduated from the University of North Alabama with dual degrees in Information Technology and Computer Information Systems, and completed a CodePath course in intermediate cybersecurity.
	</p>
    <p class='pt-3 text-gray'>
	🚀 I have worked at three startups, where I gained hands-on experience in various tech stacks, such as NextJS, React, Python, TypeScript, PostgreSQL, and MongoDB. Currently learning and building stuff with <span class="urls underline underline-offset-4">{%newtab_link 'https://blog.imkhoi.com/tags/golang/' 'Go'%}</span>.
	</p>
    <p class='pt-3 text-gray'>
	💼 I previously started NFC Orange, a startup that modernized university career fairs. I presented at the National Cyber Summit on scoring open-source dependencies for vulnerabilities, and contributed to an open-source command-line interface at Ossillate. 
	</p>
    <p class='pt-3 text-gray'>
	🕵️ I am always eager to learn new skills, collaborate with others, and take on new challenges. I am looking for full-time software engineer or IT/security engineer roles that allow me to leverage my web development and cybersecurity skills.
	</p>
    <p class='pt-3 text-gray'>
	♥️  Would love to connect!
    </p>
    
    <h2 class='text-2xl pt-8 font-bold'>Skills</h2> 
	<section>
		<h3 class="text-xl my-5 font-bold">Programming languages</h3>
    	<div class='pt-3 flex flex-wrap items-center'>
    	{%for skill in site.skills.lang %}
    	<div class='flex flex-col items-center mr-5 mb-5'>
    	    <span class="iconify text-3xl" data-icon={{skill.icon}}></span>
    	    <p class='pt-3 text-gray'>{{skill.name}}</p>
    	</div>
    	{%endfor%}
	</section>

	<section>
		<h3 class="text-xl mt-8 mb-5 font-bold">Frontend</h3>
    	<div class='pt-3 flex flex-wrap items-center'>
    	{%for skill in site.skills.frontend %}
    	<div class='flex flex-col items-center mr-5 mb-5'>
    	    <span class="iconify text-3xl" data-icon={{skill.icon}}></span>
    	    <p class='pt-3 text-gray'>{{skill.name}}</p>
    	</div>
    	{%endfor%}
	</section>
	
	<section>
		<h3 class="text-xl mt-8 mb-5 font-bold">Backend</h3>
    	<div class='pt-3 flex flex-wrap items-center'>
    	{%for skill in site.skills.backend %}
    	<div class='flex flex-col items-center mr-5 mb-5'>
    	    <span class="iconify text-3xl" data-icon={{skill.icon}}></span>
    	    <p class='pt-3 text-gray'>{{skill.name}}</p>
    	</div>
    	{%endfor%}
	</section>

	<section>
		<h3 class="text-xl mt-8 mb-5 font-bold">Database</h3>
    	<div class='pt-3 flex flex-wrap items-center'>
    	{%for skill in site.skills.database %}
    	<div class='flex flex-col items-center mr-5 mb-5'>
    	    <span class="iconify text-3xl" data-icon={{skill.icon}}></span>
    	    <p class='pt-3 text-gray'>{{skill.name}}</p>
    	</div>
    	{%endfor%}
	</section>
    </div>
</div>
