---
layout: default
title: Projects | KHOI
pagination:
  size: 10
  data: collections.project
  reverse: true
---

<div>
{% for project in pagination.items %} 
<div class='flex bg-wite py-5 rounded-lg'>
  <img loading="lazy" class='min-w-[90px] w-[90px] h-[90px] rounded-lg object-scale-down' src='{{project.data.ogImage}}' alt='{{project.data.title}}' />
  
  <div>
    <a href='{{project.url}}' class='urls hover:underline text-xl ml-5 font-bold'>
      {{project.data.title}}
    </a>
    <p class='text-gray ml-5'>{{project.data.description}}</p>

    <div class='pt-3'>       
       {%if project.data.sourceCode%}
       <a target='_blank' href={{project.data.sourceCode}} class='urls hover:underline ml-5'>Source code</a>
       {%endif%}
       {%if project.data.liveDemo%}
       <a target='_blank' href={{project.data.liveDemo}} class='urls hover:underline ml-5'>Live demo</a>
       {%endif%}
    </div>
    </div>
  </div>
{%endfor%}
</div>
