---
layout: default
title: Projects | KHOI
---

<div>
{% for project in collections.project %} 
<div class='flex bg-wite py-5 rounded-lg'>
  <img class='max-w-[90px] max-h-[90px] rounded-lg object-scale-down' src={{project.data.ogImage}} alt={{project.data.title}} />
  
  <div>
    <a href={{project.url}} class='urls hover:underline text-xl ml-5 font-bold'>
      {{project.data.title}}
    </a>
    <p class='text-gray ml-5'>{{project.data.description}}</p>

    <div class='pt-3'>       
       {%if project.data.sourceCode%}
       <a target='_blank' href={{project.data.sourceCode}} class='urls hover:underline ml-5'>Source code</a>
       {%endif%}
       {%if project.data.liveDemo%}
       <a target='_blank' href={{project.data.liveDemo}} class='urls hover:underline ml-5'>Live demo</a>
       {%endif%}
    </div>
    </div>
  </div>
{%endfor%}
</div>
